{
    "extends": [
        "plugin:@wordpress/eslint-plugin/react",
        "plugin:@wordpress/eslint-plugin/esnext"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "wp": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
      }
}
