{
    "extends": [
        "plugin:@wordpress/eslint-plugin/react",
        "plugin:@wordpress/eslint-plugin/esnext"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "wp": "readonly",
        "lodash": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
      }
}
