.article {
  &.card{
    overflow: hidden;
  }
  &-title {
    @extend .fw-bold;
    @extend .ff-base;
    a {
      text-decoration: inherit;
      color: inherit;
    }
  }
  &-author-thumb {
    @extend .rounded-circle;
    &-sm {
      width: 1.75rem;
      height: 1.75rem;
    }
    &-lg {
      width: 4.375rem;
      height: 4.375rem;
    }
    &-md {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.sticky-article {
  .wp-post-image {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include media-breakpoint-up(md) {
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1.25rem;
    }
  }
}