$fractions-of-12: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
        @each $fraction in $fractions-of-12 {
            .container-#{$breakpoint}-#{$fraction} {
                padding-right: 8px;
                padding-left: 8px;
                margin-right: auto;
                margin-left: auto;
                width: 100%;
            }
        }
        $extend-breakpoint: true;
        @each $name, $width in $grid-breakpoints {
            @if ($extend-breakpoint) {
                @each $fraction in $fractions-of-12 {
                    .container-#{$name}-#{$fraction} {
                        @if ($fraction < 6) {
                            max-width: map-get($container-max-widths, $breakpoint) * ($fraction / 12);
                        } @else {
                            max-width: calc(
                                #{(map-get($container-max-widths, $breakpoint) / 2)} +
                                    #{((($fraction - 6) / 12) * 100)}#{"%"}
                            );
                        }
                    }
                }
                @if ($breakpoint == $name) {
                    $extend-breakpoint: false;
                }
            }
        }
        // .container-#{$breakpoint}-#{$fraction} {
        //   @if (map-get($container-max-widths, $breakpoint) != null) {
        //     max-width: calc(#{(map-get($container-max-widths, $breakpoint) / 2)} + #{(($fraction - 6) / 12) * 100}#{"%"});
        //   }
        // }
    }
}