.footer {
  &-widgets {
    display: flex;
    & > .sidebar {
      display: flex;
      flex-wrap: wrap;
      @include media-breakpoint-up(lg){
        flex-wrap: nowrap
      }
    }
  }
  &-widget {
    @extend .me-7;
    @extend .mb-5;
    &-header {
      color: white;
      @extend .fs-sm;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      margin-bottom: 1.75rem;
    }
    &-menu {
      flex-direction: column;
      a {
        @extend .nav-link;
        @extend .fs-sm;
        color: white;
        padding: 0;
        margin-bottom: 1.25rem;
      }
    }
  }
}

.widget_nav_menu {
  .menu {
    @extend .nav;
    @extend .footer-widget-menu;
    li {
      @extend .nav-item;
    }
    a {
      @extend .nav-link
    }
  }
}