.footer {
  &-widgets {
    display: flex;
    & > .sidebar {
      display: flex;
      flex-wrap: wrap;
      @include media-breakpoint-up(lg){
        flex-wrap: nowrap
      }
    }
  }
  &-widget {
    @extend .me-7;
    @extend .mb-5;
    &-header {
      color: black;
      font-size: 1rem;
      letter-spacing: 0.03em;
      margin-bottom: 3rem;
    }
    &-menu {
      flex-direction: column;
      a {
        @extend .nav-link;
        font-size: 15px;
        color: $body-color;
        font-weight: normal;
        padding: 0;
        margin-bottom: 0.875rem;
      }
    }
  }
}

.widget_nav_menu {
  .menu {
    @extend .nav;
    @extend .footer-widget-menu;
    li {
      @extend .nav-item;
    }
    a {
      @extend .nav-link
    }
  }
}