.list-description {
  padding-left: 0;
  list-style: none;
  & > li{
    margin-bottom: map-get($map: $spacers, $key: 5);
    position: relative;
    padding-inline-start: $container-padding-x + 1.75rem;
    @include media-breakpoint-up(lg){
      //margin-bottom: map-get($map: $spacers, $key: 14);
    }
    &::before {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      background: $orange;
      margin-top: 7.5px;
      margin-right: 1rem;
      border-radius: $border-radius-sm;
      position: absolute;
      left: $container-padding-x;
    }
  }
}